.stats-component {
  $dark: #787C90;
  $darker: #262626;
  $gray: #EEF8FD;
  $gray2: #7F8FA4;
  $yellow: #FDC203;
  $green: #27AE60;
  $blue: #1860EC;
  padding-left: 1.5rem;
  padding-top: 2rem;
  .transactions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .trans {
      display: flex;
      width: 47%;
      margin-right: 3%;
      flex-wrap: wrap;
      .transaction {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        background: #FFFFFF;
        font-weight: 300;
        border: 1px solid $gray;
        border-radius: 0.125rem;
        padding: 1.125rem 1.25rem;
        min-width: 255px;
        margin-right: 1.125rem;
        .description {
          margin-right: 0.935rem;
          .tag {
            color: $dark;
            font-size: 0.75rem;
            line-height: 1rem;
            text-transform: capitalize;
          }
          .value {
            color: $darker;
            font-size: 1.125rem;
            line-height: 1.5rem;
          }
        }
        .chart {
          img {
            width: 71px;
            height: 42px;
            position: relative;
            top: 0.25rem;
          }
        }
      }
    }
  }
  .main-chart {
    height: 330px;
    margin-top: 1.75rem;
    display: flex;
    .chart {
      height: 100%;
      border-radius: 2px;
      border: 1px solid #EEF8FD;
      width: 60%;
      background: #FFFFFF;
      position: relative;
      .header {
        display: flex;
        justify-content: space-between;
        margin-top: 1.4rem;
        margin-bottom: 2.25rem;
        padding: 0 1.75rem;
        .title {
          font-size: 1.125rem;
          font-weight: 600;
          color: $darker;
        }
        .filter {
          display: flex;
          select {
            border: 1px solid #DDE0E3;
            border-radius: 0.25rem;
            width: 135px;
            height: 25px;
            color: $gray2;
            font-size: 0.75rem;
            background: #FFFFFF;
            margin-right: 2.75rem;
          }
          .fw-bk {
            button {
              width: 30px;
              height: 25px;
              border-radius: 0.25rem;
              background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
              border: 1px solid #CED0DA;
              &:last-child{
                margin-left: 0.75rem;
              }
              img {
                width: 13px;
                height: 11px;
                position: relative;
                bottom: 4px;
              }
            }
          }
        }
      }
      .months {
        display: flex;
        justify-content: space-around;
        .month {
          color: #000000;
          font-size: 0.875rem;
        }
      }
      .cr {
        position: absolute;
        bottom: 0;
        img {
          width: 100%;
        }
      }
    }
    .breakdown {
      width: 34.3%;
      margin-left: 0.25rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .each {
        display: block;
        height: 49.5%;
        padding: 1.25rem;
        background: #FFFFFF;
        .title {
          color: $darker;
          font-size: 0.875rem;
          font-weight: 700;
          margin-bottom: 0.625rem;
        }
        .range {
          width: 300px;
          height: 5px;
          border-radius: 0.25rem;
          background: $yellow;
          margin-bottom: 0.625rem;
          .data {
            background: $green;
            height: 5px;
            border-radius: 0.25rem;
          }
        }
        .stats {
          display: flex;
          margin-bottom: 0.6125rem;
          font-size: 0.875rem;
          .tag {
            color: $darker;
            margin-right: 0.25rem;
          }
          .value {
            font-weight: 800;
            &.yellow { color: rgba($yellow, 0.87)}
            &.green { color: $green;}
            &.blue { color: $blue;}
          }
        }
      }
    }
  }
  .payments {
    margin-top: 2.5rem;
    font-weight: 300;
    .title {
      color: $darker;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .filter-format {
      display: flex;
      align-items: center;
      .filter-number {
        margin-right: 3rem;
        span {
          color: $darker;
          font-size: 0.8rem;
        }
        select {
          color: $blue;
          font-size: 0.875rem;
          border: none;
          background: none;
          margin: 0 1rem;
        }
      }
      .search {
        width: 40%;
        margin-right: 10%;
        img {
          width: 14px;
          height: 13px;
          position: relative;
          left: 1rem;
        }
        input {
          width: 97%;
          background: none;
          border: none;
          padding-left: 1.5rem;
          border-bottom: 1px solid $gray2;
          font-size: 0.75rem;
          height: 32px;
          color: $dark;
        }
      }
      .filter-type {
        span {
          color: $darker;
          font-size: 0.8rem;
        }
        select {
          margin: 0 1rem;
          width: 150px;
          border: 1px solid #CED0DA;
          height: 1.75rem;
          color: $darker;
          font-size: 0.8rem;
        }
      }
    }
    .payments-list {
      margin-right: 4.125rem;
      margin-top: 1.5rem;
      .list-table {
        width: 100%;
        thead {
          background-color: #EAEEF0;
          color: $gray2;
          tr {
            width: 100%;
            th {
              font-weight: 300;
              font-size: 0.935rem;
              padding: 0.625rem 1.5rem 0.625rem 1.5rem;
            }
          }
        }
        tbody {
          tr {
            background-color: #ffffff;
            border-bottom: 1px solid #CCCFD4;
            td {
              font-size: 0.875rem;
              font-weight: 600;
              color: #414042;
              padding: 1.25rem;
              &.type {
                display: flex;
                align-items: center;
                img {
                  width: 36px;
                  height: 36px;
                  margin-right: 1.5rem;
                }
                span, img {
                  display: block;
                }
              }
              &.action {
                .status {
                  border: none;
                  background: none;
                  border:  1px solid #CCCFD4;
                  border-radius: 1.5rem;
                  margin-right: 1.75rem;
                  font-size: 0.75rem;
                  height: 32px;
                  width: 105px;
                  display: inline-flex;
                  &.reconciled {color: $green;}
                  &.pending {color: $yellow;}
                  &.unreconciled {color: $gray2;}
                  span {
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                    display: block;
                    &.tile {
                      position: relative;
                      bottom: 0.275rem;
                      text-transform: capitalize;
                    }
                    &.reconciled {background-color: $green;}
                    &.pending {background-color: $yellow;}
                    &.unreconciled {background-color: $gray2;}
                  }
                }
                img {
                  width: 15px;
                  height: 11px;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      margin-right: 4.45rem;
      margin-top: 1.25rem;
      font-size: 0.8125rem;
      .stat {
        color: #000000;
      }
      .navs {
        display: flex;
        button {
          color: #000000;
          background: #ffffff;
          border: 1px solid #CED0DA;
          border-radius: 0.125rem;
          height: 31px;
          padding: 0 0.75rem;
          &:hover, &.active {
            background: $blue;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}